/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* 3. Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* 4. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* 5. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 7. Remove list styles */
ol,
ul {
  list-style: none;
}

/* 8. Inherit fonts for form controls */
input,
button,
textarea,
select,
optgroup {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

/* 9. Remove default button styles */
button {
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/* 10. Remove inner border and padding in Firefox */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* 11. Restore focus styles in Firefox */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* 12. Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* 13. Correct the cursor style of increment and decrement buttons in Safari */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* 14. Correct the text wrapping in Edge and IE */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

/* 15. Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* 16. Remove the default vertical scrollbar in IE 10+ */
textarea {
  overflow: auto;
}

/* 17. Correct the cursor style of increment and decrement buttons in Chrome */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* 18. Correct the inability to style clickable types in iOS and Safari */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* 19. Add the correct display in Edge, IE 10+, and Firefox */
details {
  display: block;
}

/* 20. Add the correct display in all browsers */
summary {
  display: list-item;
}

/* 21. Add the correct display in IE 10+ */
template {
  display: none;
}

/* 22. Add the correct display in IE 10 */
[hidden] {
  display: none;
}
